{% extends 'base.html' %}
{%load static%}

{% block Titulo%} Consultas Agendadas {% endblock%}

{% block container%}
    <h2 class="mt-4 mb-4" >Consultas Agendadas</h2>
    <form action="{% url 'consultasAgendadas' %}" method="post">
        {% csrf_token %}
      {% for consultas in dados %}
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header">Hospital Flor de Lis</div>
            <div class="card-body">
                <h5 class="card-title">Paciente:</h5> {{consultas.paciente}}
                    <p><h5 class="card-title">Médico:</h5> {{consultas.medico}}</p>
                    <p><h5 class="card-title">Horário:</h5> {{consultas.diahorario}}</p>
        </div>
            </div>
            </div>
        <br><br>
      {% endfor %}
        <a class="btn btn-outline-primary" href="{% url 'home' %}">Voltar</a>
</form>
{% endblock %}