{% extends 'base.html' %}
{%load static%}

{% block Titulo%} HOME {% endblock%}


{% block container%}
<div align="center" style="width: 100%; height: 100vh; display: flex; flex-direction: column; align-items: center;  justify-content: center;">

    <h1 style="font-size: 60px">Consultório Flor de Lis</h1>
    <br><br><br>
    <a class="btn btn-primary" style="font-size: 30px" href="{% url 'cadPaciente' %}">Cadastrar Paciente</a>
    <br><br>
    <a class="btn btn-primary" style="font-size: 30px" href="{% url 'cadConsulta' %}">Agendar Consulta</a>
    <br><br>
    <a class="btn btn-primary" style="font-size: 30px" href="{% url 'consultasAgendadas' %}">Consultas Agendadas</a>
    <br><br>
    <a class="btn btn-primary" style="font-size: 30px" href="{% url 'cadMedico' %}">Cadastrar Médico</a>

    <br><br>
    <a class="btn btn-outline-primary" href="{% url 'login' %}">LogOut</a>
</div>

{% endblock %}